@keyframes slideUp {
    from {
        /* transform: translateY(100%); */
        opacity: 0;
    }
    to {
        /* transform: translateY(0%); */
        opacity: 1;
    }
}

.edit-tooltip-wrapper {
    all: initial;
    position: absolute;
    top: -52px;
    left: 0px;
    z-index: 2;
    height: 50px;
    font-size: 1rem;
    width: 350px;
    text-align: center;
    display: flex;
    justify-content: center;

    > span {
        color: white;
    }
}

.edit-tooltip-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.655);
    animation: slideUp 0.2s ease forwards;
    border-radius: 5px 25px 0px 0px;
    padding: 2px 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    span {
        font-size: 0.625rem;
    }
}
.choice-wrappers {
    height: 40px;
    background-color: #1c1c1c;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(172, 172, 172);
    margin-left: 5px;
}

.fontSelect {
    appearance: none;
    border-style: none;
    background-color: #1c1c1c;
    width: 120px;
    font-weight: bold;
    color: white;
    padding: 5px 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(172, 172, 172);
    cursor: pointer;
    flex: 0 1;
    transition: 0.2s;
    outline: none;
    &:hover {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
        background-color: black;
    }
}

.color-option-container {
    height: 25px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(46, 37, 37);
    border-radius: 3px;
    border: 2px solid transparent;
    transition: 0.2s;
    margin-left: 2px;
    border-radius: 5px;
    /* border: 1px solid rgb(172, 172, 172); */

    .color-circle {
        min-height: 30px;
        min-width: 30px;
        border: 2px solid white;
        border-radius: 5px;
        background-color: var(--text-color);
        cursor: pointer;
    }
}
