@keyframes borderAnimation {
    from {
        border-top: 0px solid var(--bar-bgColor);
        border-bottom: 0px solid var(--bar-bgColor);
    }
    to {
        border-top: var(--bar-height) solid var(--bar-bgColor);
        border-bottom: var(--bar-height) solid var(--bar-bgColor);
    }
}
.slide-container {
    --bar-height: 100px;
    --bar-bgColor: "#000000";
    /* transition: 0.5s; */
    width: 100%;
    height: 100%;
    /* border-color: var(--bar-bgColor, "black"); */
    border-top: var(--bar-height) solid var(--bar-bgColor);
    border-bottom: var(--bar-height) solid var(--bar-bgColor);
    overflow: hidden;
    /* animation: borderAnimation 2s ease forwards; */
    /* box-sizing: border-box; */
    .footer-title-wrapper {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: var(--bar-height);
        border: 1px solid red;
    }
    &.saving *{
        animation-play-state: paused !important;
    }
}

.default-structure,
.title-subtitle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: var(--bar-height);
    display: flex;
    justify-content: center;
}

.loading-screen {
    width: 100%;
    height: 100%;
    background-color: pink;
    color: white;
}
