@keyframes borderAnimation {
    from {
        border-top: 0px solid black;
        border-bottom: 0px solid black;
    }
    to {
        border-top: var(--bar-height) solid black;
        border-bottom: var(--bar-height) solid black;
    }
}
.slide-container {
    --bar-height: 100px;
    --bar-bgColor: "black";
    transition: 0.5s;
    width: 100%;
    height: 100%;
    border-color: var(--bar-bgColor, "black");
    border-top: var(--bar-height) solid black;
    border-bottom: var(--bar-height) solid black;
    overflow: hidden;
    animation: borderAnimation 3s ease forwards;
    /* border:1px solid pink; */
    .footer-title-wrapper {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: var(--bar-height);
        border: 1px solid red;
    }
}

.default-structure,
.title-subtitle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: var(--bar-height);
    display: flex;
    justify-content: center;
}

.loading-screen {
    width: 100%;
    height: 100%;
    background-color: pink;
    color: white;
}
