h1,
h2,
h3 {
    padding: 10px 30px;
    margin: 0px;
    border: 2px dashed transparent;
    border-radius: 10px;
    box-sizing: content-box;
}
.title {
    --font-family: "helvetica";
    font-size: 6rem;
    height: 10rem;
    min-height: 10rem;
    line-height: 10rem;
    text-align: center;
    min-width: 200px;
    font-family: var(--font-family);
}

.subtitle {
    --font-family: "helvetica";
    font-size: 2rem;
    line-height: 8rem;
    font-family: var(--font-family);
}

.footer-text {
    --font-family: "helvetica";
    font-size: 1rem;
    font-family: var(--font-family);
}
