@keyframes translateLeft {
    from {
        transform: translateX(80px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes pulse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0.5;
    }
    10% {
        opacity: 0.5;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}
.setting-window {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: black;
    width: 530px;
    /* height: 300px; */
    box-shadow: 0px 0px 3px black;
    background-color: rgba(171, 46, 46, 0.4);
    backdrop-filter: blur(10px);
    border: 2px solid black;
    border-radius: 10px;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    display: flex;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 0.4s ease forwards;
    animation-delay: 0s;
    &::after {
        content: "";
        position: absolute;
        bottom: -50px;
        right: -50px;
        height: 250px;
        width: 250px;
        background-size: cover;
        background-image: url("https://webstockreview.net/images/donuts-clipart-strawberry-3.png");
        z-index: -1;
        opacity: 0.3;
    }
    .branding {
        min-width: 25px;
        max-width: 25px;
        /* border-right: 1px dashed white; */
        /* border:1px solid white; */

        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;
        font-weight: bold;
        transform: rotate(90deg) translateX(25%) translateY(-25px);
    }
    .content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: calc(100% - 25px);
        border-left: 3px solid rgba(0, 0, 0, 0.8);
        box-shadow: inset 4px 0px rgba(0, 0, 0, 0.8), -0px 0px 10px rgba(0, 0, 0, 0.8);
        margin-left: 25px;
        padding-top: 2px;
        border-radius: 10px 10px 10px 10px;
        overflow: hidden;
        animation: translateLeft 0.8s ease forwards;
        opacity: 0;
        animation-delay: 0s;

        > .toolbar-wrapper {
            display: flex;
            width: 100%;
            height: 20px;
            justify-content: space-between;

            h1 {
                font-size: 1rem;
                margin: 0px;
                padding: 0px;
                font-weight: bold;
            }
            .close-btn {
                border-style: none;
                background-color: transparent;
                transition: 0.2s;
                /* width: 20px; */
                height: 20px;
                cursor: pointer;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                margin-right: -6px;
                margin-top: 2px;
                overflow: hidden;

                img {
                    height: 100%;
                    height: 100%;
                    margin: 0px;
                    padding: 0px;
                }
                span {
                    opacity: 0;
                    transition: 0.3s;
                }
                &:hover span {
                    color: white;
                    opacity: 1;
                    /* animation: fadeInRight 0.6s ease forwards; */
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
    /* .top-wrapper .mood-wrapper,
    .color-container,
    .primary-buttons-container,
    .secondary-buttons-container,
    .tertiary-buttons-container {
        display: flex;
        width: 100%;
    } */
    .top-wrapper {
        display: flex;
        height: 50px;
        width: 100%;
        margin: 2px 0px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 2px;
        .submit-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-style: none;
            color: white;
            height: 100%;
            width: 100%;
            margin: 5px;
            border-radius: 5px;
            background-color: #1c1c1c;
            padding: 0px 5px;
            flex-direction: column;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
            transition: 0.3s;
            border: 2px solid rgb(172, 172, 172);
            cursor: pointer;
            flex: 1;
            &:hover {
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
                transform: scale(0.95);
                background-color: black;
            }
            span {
                font-weight: bold;
            }
            .file-name {
                font-size: 0.5rem;
                color: gray;
                white-space: nowrap;
            }
        }
        /* Single Row Settings + title */
    }
    .vertical-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        .setting-title {
            width: 100%;
            margin: 0px;
            padding: 2px;
            font-size: 1rem;
            border-bottom: 1px solid white;
        }
    }
}
/* .mouse-over {
    background-color: orange;
} */

.setting-collapsed {
    display: flex;
    position: absolute;
    top: 30px;
    right: 10px;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    button {
        border-style: none;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background-color: black;
        cursor: pointer;
        border-radius: 50px;
        padding: 5px 15px;
        font-weight: bold;
        margin: 0px 4px;
        opacity: 0.5;
        transition: 0.2s;
        &:hover {
            opacity: 1;
        }
    }
}
