@keyframes slideRtoL {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fadeInNav {
    from {
        transform: rotate(-90deg);
        opacity: 0;
    }
    to {
        transform: rotate(-90deg);
        opacity: 1;
    }
}
.branding-nav {
    position: absolute;
    top: 600px;
    right: 305px;
    color: white;
    z-index: 5;
    margin: 0px;
    padding: 0px;
    font-size: 0.725rem;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    animation: fadeInNav 0.5s ease forwards;
    animation-delay: 0.2s;
}
.external-links {
    position: absolute;
    top: 70px;
    right: 323px;
    color: white;
    z-index: 5;
    margin: 0px;
    padding: 0px;
    font-size: 0.725rem;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    animation: fadeInNav 0.5s ease forwards;
    animation-delay: 0.2s;
    img {
        width: 20px;
    }
}
.opened-settings {
    position: absolute;
    top: 20px;
    right: -10px;
    border: 5px solid rgba(0, 0, 0, 1);
    background-color: rgba(78, 0, 0, 0.8);
    border-radius: 10px;
    border-right: 0px;
    border-left: 25px solid black;
    backdrop-filter: blur(5px);
    width: 375px;
    height: 600px;
    animation: slideRtoL 0.3s ease forwards;
    padding: 10px;
    padding-left: 25px;
    padding-right: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.2s;
    background-image: url("https://pbs.twimg.com/media/EmWhhfdW4AQ1aUX.png:large");
    background-size: cover;
    background-blend-mode: color-burn;
    box-shadow: -2px -2px 0px rgb(106, 47, 47), -2px 2px 0px rgb(106, 47, 47);
    &[data-disabled="true"] {
        filter: brightness(0.2);
    }
    .settings-title {
        margin: 0px;
        padding: 0px;
        font-size: 1.125rem;
        text-align: end;
        border-bottom: 2px solid rgba(120, 120, 120, 0.517);
        padding-bottom: 5px;
        position: sticky;
        backdrop-filter: blur(5px);
        margin-left: -25px;
        margin-top: -10px;
        width: calc(100% + 50px);
        padding-right: 30px;
        position: sticky;
        top: -10px;
        left: 0px;
        padding-top: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 4;
        display: flex;
        justify-content: space-between;
        .cta-wrapper {
            height: 30px;
            display: flex;
            .close-button {
                width: 40px;
                height: 30px;
                border-style: none;
                background-color: transparent;
                border-right: 2px double rgb(68, 68, 68);
                padding-right: 10px;
                cursor: pointer;
                img {
                    height: 100%;
                    width: 100%;
                    stroke: white;
                    padding: 0px;
                    margin: 0px;
                    padding-top: 1px;
                }
            }
            .export-button {
                border-style: none;
                background-color: transparent;
                font-weight: bold;
                background-color: rgba(0, 0, 0, 0.5);
                margin-left: 10px;
                color: white;
                border-radius: 15px;
                padding: 0px 25px;
                border: 2px dotted rgb(237, 68, 1);
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-color: rgba(237, 68, 1, 0.5);
                }
            }
        }
    }
    .setting-module {
        border-radius: 20px;
        padding: 2px;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        padding: 5px;
        border: 1px solid rgba(110, 110, 110, 0.419);
        margin: 5px 0px;
        justify-content: flex-start;
    }
}
