.grid-layout {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 8fr 1fr;
    /* border: 5px solid black; */
    border-radius: 10px;
    overflow: hidden;
    > div {
        transition: 0.2s;
        padding: 2px;
        &:first-child {
            /* border-right: 2px dotted black; */
        }
        &:nth-child(2) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 6fr 2fr;
            > * {
                /* border: 1px solid black; */
            }
        }
        &:nth-child(3) {
            /* center column */
            /* border-left: 2px dotted black; */
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            /* backdrop-filter: blur(0.5); */
        }
    }
}
.center-column {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
    }
}
